@import "../utils/mixins";
@import "../utils/variables";

.header{
  height: 80px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.12);
  .header__container{
    @include flex(center, flex, space-between);
    height: 100%;
  }
}

.nav{
  @include flex(center, flex, flex-start);
  gap: 93px;

  .nav__items{
    @include flex (center, flex, flex-start);
    gap: 50px;
  }
  .nav__item{
    font-weight: 500;
    color: $primary-black-color;
    line-height: 76px;
    &:hover{
      color: $accent-color-hover;
    }
  }

}

  .contacts{
    @include flex(center, flex, flex-end);
    gap: 30px;

    .contacts__a{
      color: $gray-2;
      text-decoration: none;
      font-weight: 500;
    }
    .contacts__svg{
      width: 16px;
      height: 12px;
      fill: $gray-2;
    }
  
    &__a:hover,
    &__svg:hover{
      color: $accent-color;
      fill: $accent-color;
    }
  }
  .nav__item--current{
    color: $accent-color;
    position: static;

    &:after {
    display: block;
    content: "";
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: 0;
  }
}